In [ ]:
# Add # RUN IMPORTS 
import sqlite3
import pandas as pd

#connect to database
conn = sqlite3.connect('db/movies.db')

# create curson object 
cursor = conn.cursor()
#create table 
cursor.execute('''
CREATE TABLE IF NOT EXISTS MOVIES(
ID integer primary key,
name TEXT NOT NULL,
genre TEXT,
year INTEGER,
imdb_rating REAL        
''')
#commit to the Datebass
conn.commit()
conn.close()
#connect to the datebase
conn =sqite3.connect('db/movies.db') 


# read from db into database 
query = '''
SELECT id as Movie_ID, name as Movie_Title, imdb_rating as Rating 
FROM movies
WHERE genre = 'horror' AND year <= 1985
'''

df = pd.read_sql(query, conn)
print(df)
conn.close()
query = '''
SELECT id as Movie_ID, name as Movie_Title, imdb_rating as Rating 
FROM movies
WHERE genre = 'horror' AND year <= 1985
ORDER BY imdb_rating DESC
LIMIT 3;
'''
df = pd.read_sql(query, conn)
print(df)
conn.close()